.list-group-item:hover {
  background-color: #dfebf7;
}

.ul-users {
  margin: 0 30%;
}

.rights {
  cursor: pointer;
}

.btn-danger, .btn-success {
  cursor: pointer;
  float: right;
  width: 70px;
}
