.ul-songs {
  margin: 0 30%;
}

.songs_search {
  margin-top: 20px;
  margin-left: 75%;
}

.pagination {
  margin-top: 5px;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #dfebf7;
}

.list-group-item:active, .list-group-item:focus {
  outline: none;
  background-color: #adbbca;
}

.lbry-songs-item:not([href]) {
  color: #696969;
  pointer-events: none;
}

.close.delete {
  cursor: pointer;
}

.close.delete:focus {
  outline: none;
}
