<div class="ul-songs">

  <lbry-search model="song" (keyup)="search.next($event.target.value)"></lbry-search>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let song of songs">
      <a routerLink="/detail/{{song.id}}">
        {{song.name}}
      </a>
      <button class="close delete" (click)="delete(song)" aria-label="Delete song">
        <span class="delete-span" aria-hidden="true">&times;</span>
      </button>
    </li>
  </ul>

  <ul class="pagination float-right">
    <li class="page-item" *ngFor="let i of pages">
      <lbry-page [page]=i (click)="getSongsByName(search.getValue(), i)"></lbry-page>
    </li>
  </ul>
</div>
