<div class="ul-songs">
  <label class="songs_search">
    <input placeholder="Search song" class="form-control" (keyup)="search.next($event.target.value)"/>
  </label>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let song of songs">
      <a routerLink="/detail/{{song.id}}">
        {{song.name}}
      </a>
      <button class="close delete" (click)="delete(song)" aria-label="Delete song">
        <span class="delete-span" aria-hidden="true">&times;</span>
      </button>
    </li>
  </ul>

  <ul class="pagination float-right">
    <li class="page-item" *ngFor="let i of pages">
      <a href="javascript:void(0)" class="page-link" (click)="getSongs(i)">{{i}}</a>
    </li>
  </ul>
</div>
